h3 {
    margin-top: 1rem;
}
#userProfileHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#userProfileHeading button {
    height: 80%;
}
.adminStyling {
    color: blue;
}
#userPetsCollection #petsCollectionContainer {
    max-height: 370px;
}
#userPetsCollection .petCard {
    width: 200px;
    height: 300px;
}