#chatsMenuContainer {
    width: 25%;
    margin-right: 1rem;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chatMenuRequest {
    margin-bottom: 1rem;
    background-color: #E5E4E2;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.chatMenuRequest:hover {
    background-color: #D3D3D3;
    cursor: pointer;
}
#chatsMenuAll {
    overflow-y: scroll;
}
.chatsMenuHeading {
    font-size: 1.2rem;
}
.chatsMenuHeading:hover {
    cursor: pointer;
}
.chatsMenuHeading .myArrow{
    margin-right: 0.5rem;
}
#chatsMenuButton {
    align-self: center;
    margin-bottom: 2.5rem;
}
#chatsMenuButton button {
    margin: auto;
}
@media (max-width: 780px) {
    #chatsMenuContainer {
        margin-bottom: 2rem;
        height: fit-content;
        max-height: 700px;
        width: 100%;
    }
    #chatsMenuButton {
        margin-top: 2rem;
    }
}