#contactContainer {
    width: 100%;
    padding: 2rem 5%;
}
#chatsMenuAndChatContainer {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 780px) {
    #chatsMenuAndChatContainer {
        flex-direction: column;
        justify-content: center;
    }
}