#contactContainer {
    height: 95%;
    width: 70%;
}
#contactHeading {
    height: 10%;
    margin: 0;
}
#chatsMenuAndChatContainer {
    height: 90%;
    display: flex;
    justify-content: space-between;
}