#homeContainer {
    height: 95%;
    width: 70%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#heading {
    font-size: 2rem;
}
#heading, #infoText {
    margin-bottom: 1rem;
}