#petsCollectionContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    /* background-image: url("../Images/pet_pattern.jpg");
    background-repeat: repeat;
    background-size: contain; */
}
.paginationContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}