#dashboardContainer {
    width: 100%;
    padding: 2rem 5%;
}
#managePetsHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}
#managePetsHeading button {
    margin-right: 1rem;
}
#dashboardContainer .petCard {
    width: 200px;
    height: 300px;
}
@media (max-width: 480px) {
    #dashboardContainer #usersCollectionContainer {
        max-height: 400px;
    }
    #dashboardContainer #petsCollectionContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 400px;
        margin-bottom: 0;
    }
    #dashboardContainer .petCardImg {
        display: none;
    }
    #dashboardContainer .petCard {
        width: 100%;
        height: fit-content;
        margin: 0.5rem 0rem;
    }
}