h3 {
    margin-top: 1rem;
}
#userProfileHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#userProfileHeading button {
    height: 80%;
}
.adminStyling {
    color: blue;
}
#userPetsCollection {
    max-height: 350px;
}