body, #root {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Trocchi";
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinnerDiv {
  margin: auto;
  width: fit-content;
}
.nav-link {
  --bs-nav-link-color: #ffc107;
  --bs-nav-link-hover-color: #fde089; 
}